@model List<Admin>
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Admin/IndexLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Admin</div>
            </div>
            <div class="card-body">
                <table class="table table-head-bg-success">
                    <thead>
                        <tr>
                            <th scope="col">Kullanıcı Adı</th>
                            <th scope="col">İsim</th>
                            <th scope="col">Soyisim</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Şifre</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">Rolu</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(item.UserName)</td>
                                <td>@(item.Name)</td>
                                <td>@(item.Surname)</td>
                                <td>@(item.Mail)</td>
                                <td>@(item.Password)</td>
                                <td>@(item.Phone)</td>
                                <td>@(item.RoleType)</td>                            
                                <td>
                                    <a asp-controller="Admin" asp-action="EditAdmin" asp-route-id="@item.AdminId" class="btn btn-warning">Edit</a>
                                    <a asp-controller="Admin" asp-action="DeleteAdmin" asp-route-id="@item.AdminId" class="btn btn-danger"> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-controller="Admin" asp-action="AddAdmin" class="btn btn-primary"> Add</a>
            </div>
        </div>
    </div>
</div>

