@model List<Experience>
@{
    ViewData["Title"] = "Experience";
    Layout = "~/Views/Admin/IndexLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Deneyimler</div>
            </div>
            <div class="card-body">
                <table class="table table-head-bg-success">
                    <thead>
                        <tr>
                            <th scope="col">Başlık</th>
                            <th scope="col">Ünvan</th>
                            <th scope="col">Tarih</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Kullanılan Teknolojiler</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(item.Head)</td>
                                <td>@(item.Title)</td>
                                <td>@(item.Date)</td>
                                <td>@(item.Description.Length < 20 ? item.Description : item.Description.Substring(0, 20))</td>
                                <td>@(item.UseTechnology.Length < 20 ? item.UseTechnology : item.UseTechnology.Substring(0, 20))</td>
                                <td>
                                    <a asp-controller="Admin" asp-action="EditExperience" asp-route-id="@item.ExperienceId" class="btn btn-warning">Edit</a>
                                    <a asp-controller="Admin" asp-action="DeleteExperience" asp-route-id="@item.ExperienceId" class="btn btn-danger"> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-controller="Admin" asp-action="AddExperience" class="btn btn-primary"> Add</a>
            </div>
        </div>
    </div>
</div>

